<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.goodee.app.members.MemberMapper">
	<insert id="add" parameterType="MemberVO">
		INSERT INTO MEMBERS
		VALUES (#{username}, #{password}, #{name}, #{email}, #{birth}, 1)
	</insert>

	<select id="detail" parameterType="MemberVO" resultMap="detailResult">
		SELECT * FROM MEMBERS m
			INNER JOIN
			MEMBER_ROLE mr
			ON m.USERNAME=mr.USERNAME
			INNER JOIN
			ROLE r
			ON mr.ROLE_NUM = r.ROLE_NUM
		
		WHERE m.USERNAME=#{username}
	</select>
	<resultMap type="MemberVO" id="detailResult">
		<id column="USERNAME" property="username"></id>
		<result column="PASSWORD" property="password"></result>
		<result column="NAME" property="name"></result>
		<result column="EMAIL" property="email"></result>
		<result column="BIRTH" property="birth"></result>
		<result column="ENABLED" property="enabled"></result>
		
		<collection property="vos" javaType="java.util.List" ofType="RoleVO">
			<id column="ROLE_NUM" property="role_num"></id>
			<result column="ROLE_NAME" property="role_name"></result>
		</collection>
	</resultMap>
	
	<insert id="addRole" parameterType="java.util.Map">
		INSERT INTO MEMBER_ROLE
		VALUES (#{username}, #{role_num})
	</insert>
</mapper>