<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.goodee.app.qna.QnaMapper">
	<select id="getList" resultType="QnaVO" parameterType="Pager">
		SELECT * FROM QNA
		<if test="kind =='k1'">
			WHERE BOARD_WRITER LIKE CONCAT('%', #{search}, '%')
		</if>
		<if test="kind =='k2'">
			WHERE BOARD_CONTENTS LIKE CONCAT('%', #{search}, '%')
		</if>
		<if test="kind =='k3'">
			WHERE BOARD_TITLE LIKE CONCAT('%', #{search}, '%')
		</if>
		ORDER BY BOARD_NUM DESC
		LIMIT #{startRow}, #{perPage}
	</select>
	
	<insert id="add" parameterType="QnaVO" useGeneratedKeys="true" keyProperty="board_num">
		INSERT INTO QNA
		VALUES (#{board_num}, #{board_writer}, #{board_title}, #{board_contents}, now(),
		#{ref}, 0, 0)
	</insert>
	
	<update id="refUpdate" parameterType="QnaVO">
		UPDATE QNA SET ref=#{board_num}
		WHERE BOARD_NUM = #{board_num}
	</update>
	
	<select id="getDetail" parameterType="QnaVO" resultType="QnaVO">
		SELECT * FROM QNA
		WHERE BOARD_NUM = #{board_num}
	</select>

</mapper>